.side-menu {
  display: flex;
  align-items: center;
  padding: 0 18px;
  overflow: hidden;
  cursor: pointer;
}
/* menu-active {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 0 42px 42px 0;
} */
.side-menu-icon-wrapper {
  min-width: 48px;
  width: 48px;
  border-radius: 50%;
  margin: 0 18px 0 0;
  height: 48px;
  padding: 12px;
}
.side-menu-icon-wrapper:hover {
  background-color: rgba(60, 64, 67, 0.08);
  outline: none;
}
.side-menu-icon {
  width: 100%;
}
.side-menu-title {
  margin-bottom: 3px;
}
