.side-menu,
.side-menu-expanded {
  display: flex;
  align-items: center;
  padding: 0 18px;
  overflow: hidden;
  cursor: pointer;
}
.side-menu-expanded:hover {
  border-radius: 0 42px 42px 0;
  background-color: rgba(95, 99, 104, 0.157);
  outline: none;
}
.side-menu-icon-wrapper {
  min-width: 48px;
  width: 48px;
  margin: 0 18px 0 0;
  height: 48px;
  padding: 12px;
}
.side-menu-contracted {
  border-radius: 50%;
}
.side-menu-contracted:hover {
  background-color: rgba(95, 99, 104, 0.157);
  outline: none;
}
.side-menu-icon {
  width: 100%;
}
.side-menu-title {
  margin-bottom: 3px;
  text-decoration: none;
}

.active-exp-bg {
  border-radius: 0 42px 42px 0;
  background-color: #feefc3;
  outline: none;
}

.active-con-bg {
  background-color: #feefc3;
  outline: none;
}
